Django==2.0.5
django-ckeditor==5.5.0
django-colorfield==0.1.14
django-debug-toolbar==1.9.1
django-js-asset==1.1.0
django-modeltranslation==0.13b1
django-mptt==0.9.0
MonthDelta==0.9.1
Pillow==5.1.0
python-dateutil==2.7.3
pytz==2018.4
six==1.11.0
sqlparse==0.2.4
