$bg-color: #F7F9FA;

.login-page {
  background-image: url("assets/images/login.jpeg");
}

.login-box {
  width: 25%;
  @media (max-width: 1200px) {
    width: 50%;
  }
  @media (max-width: 992px) {
    width: 33.33333333%;
  }
  @media (max-width: 767px) {
    width: 100%;
  }
}

label.error {
  margin-bottom: 10px;
  float: none;
}

.required-field {
  color: #d22;
}

#setLanguage {
  position: absolute;
  top: 40px;
  left: 50%;
  width: 200px;
  margin-left: -100px;
}

.shop-nav {
  background: $bg-color;
  position: relative;
  margin-bottom: 30px;
  z-index: 22;
}

.shop-nav__ul.level-0 {
  margin: 0;
  padding: 0;
  display: flex;
}
.shop-nav__ul.level-1 {
  margin: 0;
  padding: 0;
  position: absolute;
  display: none;
}

.shop-nav__li {
  list-style: none;
  &:hover {
    .shop-nav__ul.level-1 {
      display: block;
    }
  }
}

.shop-nav__link.level-0 {
  padding: 15px 20px;
  display: block;
  border-bottom: 1px solid transparent;
  transition: .2s ease-in-out;
}

.shop-nav__link.level-1 {
  background: $bg-color;
  padding: 15px 20px;
  display: block;
  transition: .2s ease-in-out;
  &:hover {
    background: darken($bg-color, 30%);
  }
}