{% load static %}
{% load i18n %}
{% load shop_nav %}

<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="stacks">

        <title>{% trans 'Кабинет' %} - {% block title %}{% endblock %}</title>

        <!-- Styles -->
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <link href="{% static '/cabinet/' %}assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="{% static '/cabinet/' %}assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="{% static '/cabinet/' %}assets/plugins/icomoon/style.css" rel="stylesheet">
        <link href="{% static '/cabinet/' %}assets/plugins/uniform/css/default.css" rel="stylesheet"/>
        <link href="{% static '/cabinet/' %}assets/plugins/switchery/switchery.min.css" rel="stylesheet"/>

        <script src="{% static '/cabinet/' %}assets/plugins/jquery/jquery-3.1.0.min.js"></script>
        <script src="{% static '/cabinet/' %}assets/plugins/bootstrap/js/bootstrap.min.js"></script>

        {% block header_scripts %}{% endblock header_scripts %}
      
        <!-- Theme Styles -->
        <link href="{% static '/cabinet/' %}assets/css/space.min.css" rel="stylesheet">
        <link href="{% static '/cabinet/' %}assets/css/custom.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->


    </head>
    <body>
        <div id="setLanguage">
            <form action="{% url 'set_language' %}" method="post" role="form" class="form">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}" />
                <div class="input-group">
                    <select name="language" class="form-control">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                                {{ language.name_local }} ({{ language.code }})
                            </option>
                        {% endfor %}
                    </select>
                    <span class="input-group-btn">
                        <button class="btn" type="submit">Go</button>
                    </span>
                </div>
            </form>
        </div>
        
        <!-- Page Container -->
        <div class="page-container">

            {% include 'cabinet_parts/left-sidebar.html' %}

            <div class="page-content">
                <div class="page-header">
                    <div class="search-form">
                        <form action="layout-blank.html#" method="GET">
                            <div class="input-group">
                                <input type="text" name="search" class="form-control search-input" placeholder="Type something...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" id="close-search" type="button"><i class="icon-close"></i></button>
                                </span>
                            </div>
                        </form>
                    </div>
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <div class="logo-sm">
                                    <a href="javascript:void(0)" id="sidebar-toggle-button"><i class="fa fa-bars"></i></a>
                                    <a class="logo-box" href="index.html"><span>Space</span></a>
                                </div>
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <i class="fa fa-angle-down"></i>
                                </button>
                            </div>
                        
                            <!-- Collect the nav links, forms, and other content for toggling -->
                        
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li><a href="javascript:void(0)" id="collapsed-sidebar-toggle-button"><i class="fa fa-bars"></i></a></li>
{#                                    <li><a href="javascript:void(0)" id="toggle-fullscreen"><i class="fa fa-expand"></i></a></li>#}
                                    <li><a href="javascript:void(0)" id="search-button"><i class="fa fa-search"></i></a></li>
                                </ul>
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="dropdown">
                                        <a href="{% url 'shop:cart' %}" class="dropdown-toggle">
                                            <i class="fa fa-shopping-basket"></i>
                                            <span class="badge" style="background: #d22;">{% shop_get_cart_sku user %}</span>
                                        </a>
                                    </li>
                                    <li class="dropdown user-dropdown">
                                        <a href="layout-blank.html#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="{% static '/cabinet/' %}assets/images/avatars/avatar1.jpg" alt="" class="img-circle"></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="{% url 'user:profile' %}">{% trans 'Профиль' %}</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="{% url 'user:logout' %}">{% trans 'Выйти' %}</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="page-inner">
                    <div class="page-title">
                        <h3 class="breadcrumb-header">{% block page_title %}{% endblock page_title %}</h3>
                    </div>

                    <div id="main-wrapper">
                        <div class="row">
                            <div class="col-md-12">
                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="alert alert-{{ message.tags }} alert-dismissible">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            {% block content %}{% endblock content %}
                        </div>
                    </div>

                    <div class="page-footer">
                        <p>Сделано с <i class="fa fa-heart" style="color: #ee4089;"></i> в <a href="//gofriends.pro" target="_blank">GoFriends</a></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="cabinetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">

            </div>
        </div>

        <script src="{% static '/cabinet/' %}assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
        <script src="{% static '/cabinet/' %}assets/plugins/uniform/js/jquery.uniform.standalone.js"></script>
        <script src="{% static '/cabinet/' %}assets/plugins/switchery/switchery.min.js"></script>
        <script src="{% static '/cabinet/' %}assets/js/space.min.js"></script>

        {% block footer_scripts %}{% endblock footer_scripts %}

        <script src="{% static '/cabinet/main.js' %}"></script>
        <link rel="stylesheet" href="{% static '/cabinet/main.css' %}">


    </body>
</html>

