{% extends 'cabinet.html' %}
{% load static %}
{% load i18n %}

{% block title %}{{ product.title }} {% trans 'Корзина' %}{% endblock %}
{% block page_title %}{% endblock page_title %}

{% block content %}
    {% include 'shop/_shop-top-nav.html' %}
    <h1 class="shop__product-title">{% trans 'Корзина' %}</h1>

    <form action="">
    <table class="table table-striped cart-table">
        <tr>
            <th class="cart-image__container"></th>
            <th>{% trans 'Товар' %}</th>
            <th class="text-center">{% trans 'Количество' %}</th>
            <th class="text-center">{% trans 'Цена' %}</th>
            <th class="text-center">{% trans 'Итого' %}</th>
        </tr>
        {% for cart_item in cart_items %}
            <tr>
                <td class="cart-table__td">
                    <div role="img" class="cart-image" style="background-image: url('{{ cart_item.variant.product.image.url }}')"></div>
                </td>
                <td class="cart-table__td">
                    <h5><a href="{{ cart_item.variant.product.get_absolute_url }}">{{ cart_item.variant.product.title }}</a></h5>
                    <small>{{ cart_item.variant.make_human_string }}</small>
                </td>
                <td class="cart-table__td text-center">
                    <input type="number" value="{{ cart_item.quantity }}" class="qart-quantity input_styler" name="quantity">
                </td>
                <td class="cart-table__td text-center">${{ cart_item.variant.price }}</td>
                <td class="cart-table__td text-center">${{ cart_item.get_total }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="3"></td>
            <td class="text-center">
                <a href="#" id="saveCart" class="btn btn-rounded btn-default">{% trans 'Сохранить' %}</a>
            </td>
            <td class="text-center">${{ cart_total }}</td>
        </tr>
    </table>
    </form>

{% endblock content %}

{% block header_scripts %}
    <link rel="stylesheet" href="{% static '/' %}bower_components/jQueryFormStyler-master/dist/jquery.formstyler.css">
    <link rel="stylesheet" href="{% static '/' %}bower_components/jQueryFormStyler-master/dist/jquery.formstyler.theme.css">
    <script src="{% static '/' %}bower_components/jQueryFormStyler-master/dist/jquery.formstyler.min.js"></script>
{% endblock header_scripts %}

{% block footer_scripts %}
{% endblock footer_scripts %}
