{% extends 'cabinet.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Клубы' %}{% endblock %}
{% block page_title %}{% endblock page_title %}

{% block content %}
    {% include 'shop/_shop-top-nav.html' %}

{% endblock content %}

{% block header_scripts %}
    <link rel="stylesheet" href="{% static '/cabinet/' %}assets/plugins/datatables/css/jquery.datatables.min.css">
    <link rel="stylesheet" href="{% static '/cabinet/' %}assets/plugins/datatables/css/jquery.datatables_themeroller.css">
{% endblock header_scripts %}

{% block footer_scripts %}
    <script src="{% static '/cabinet/' %}assets/plugins/datatables/js/jquery.datatables.min.js"></script>
{% endblock footer_scripts %}
