{% extends 'cabinet.html' %}
{% load static %}
{% load i18n %}

{% block title %}{{ product.title }}{% endblock %}
{% block page_title %}{% endblock page_title %}

{% block content %}
    {% include 'shop/_shop-top-nav.html' %}
    <div class="col-sm-12">
        <h1 class="shop__product-title">{{ product.title }}</h1>
        <div class="row">
            <div class="col-md-5">
                <img src="{{ product.image.url }}" class="img-responsive img-rounded">
            </div>
            <div class="col-md-7">
                <ul class="list-group">
                    {% for variant in product.variant_set.all %}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-6">
                                    {{ variant.make_human_string }}
                                    <p class="{% if not variant.is_available %}text-danger{% else %}text-primary{% endif %}">{% trans 'В наличии' %} {{ variant.quantity }}</p>
                                </div>
                                <div class="col-md-6">
                                    <form action="{% url 'shop:add-to-cart' %}" method="post">
                                        {% csrf_token %}
                                        <input type="number" min="1" name="quantity" value="1" step="1" class="input_styler">
                                        <input type="hidden" name="variant" value="{{ variant.id }}">
                                        <button class="btn btn-sm- btn-primary pull-right btn-rounded {% if not variant.is_available %}disabled{% endif %}">{% trans 'Купить' %}</button>
                                    </form>
                                    <span class="">${{ variant.price }}</span>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <br>
        <div role="tabpanel">
            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li role="presentation" class="active"><a href="ui-tabs-accordions.html#tab21" role="tab" data-toggle="tab" aria-expanded="true">{% trans 'Полное описание' %}</a></li>
                <li role="presentation" class=""><a href="ui-tabs-accordions.html#tab22" role="tab" data-toggle="tab" aria-expanded="false">{% trans 'Характеристики' %}</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="tab21">
                    {{ product.text | safe }}
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab22">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block header_scripts %}
    <link rel="stylesheet" href="{% static '/' %}bower_components/jQueryFormStyler-master/dist/jquery.formstyler.css">
    <link rel="stylesheet" href="{% static '/' %}bower_components/jQueryFormStyler-master/dist/jquery.formstyler.theme.css">
    <script src="{% static '/' %}bower_components/jQueryFormStyler-master/dist/jquery.formstyler.min.js"></script>
{% endblock header_scripts %}

{% block footer_scripts %}
{% endblock footer_scripts %}
